.container{
  background-color: #F5F3F0;
  width: 100%;
  height: 100%;
}
.designer-developer {
  position: absolute;
  top: 180px;
  left: 640px;
  letter-spacing: 2px;
  line-height: 24px;
  text-transform: uppercase;
  display: inline-block;
  width: 635px;
}
.skillset {
  width: 350px;
  position: relative;
  letter-spacing: 2px;
  line-height: 24px;
  text-transform: uppercase;
  display: none;
}
.visual-design {
  margin: 0;
}
.visual-design-illust-container {
  width: 350px;
  position: relative;
  font-size: 20px;
  line-height: 34px;
  color: #000;
  display: none;
}
.skillset-parent {
  width: 350px;
  height: 238px;
  overflow: hidden;
  flex-shrink: 0;
  display: none;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  gap: 10px;
}
.awards-parent {
  width: 350px;
  height: 204px;
  overflow: hidden;
  flex-shrink: 0;
  display: none;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  gap: 10px;
}
.holistic-designer {
  font-family: 'PT Sans Narrow';
}
.career-traits-group {
  width: 350px;
  height: 544px;
  overflow: hidden;
  flex-shrink: 0;
  display: none;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  gap: 10px;
}
.b {
  font-family: 'Lucida Grande';
}
.thedonutco-outbou-container {
  width: 350px;
  position: relative;
  font-size: 20px;
  line-height: 34px;
  color: #0699a6;
  display: none;
}
.recent-works-parent {
  width: 350px;
  height: 273px;
  overflow: hidden;
  flex-shrink: 0;
  display: none;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  gap: 11px;
}
.left-column-auto-layout1 {
  width: 350px;
  height: 1559px;
  overflow: hidden;
  flex-shrink: 0;
  display: none;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  gap: 100px;
}
.career-traits-parent {
  width: 350px;
  height: 2113px;
  overflow: hidden;
  flex-shrink: 0;
  display: none;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  gap: 10px;
}
.left-column-auto-layout {
  position: absolute;
  top: 837px;
  left: 165px;
  width: 350px;
  height: 3128px;
  overflow: hidden;
  display: none;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  gap: 100px;
}
.skillset2 {
  width: 350px;
  position: relative;
  letter-spacing: 2px;
  line-height: 24px;
  text-transform: uppercase;
  display: inline-block;
}
.visual-design-illust-container2 {
  width: 350px;
  position: relative;
  font-size: 20px;
  line-height: 34px;
  color: #000;
  display: inline-block;
}
.skillset-container {
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  gap: 10px;
}
.thedonutco-outbou-container2 {
  width: 350px;
  position: relative;
  font-size: 20px;
  line-height: 34px;
  color: #0699a6;
  display: inline-block;
}
.recent-works-container {
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  gap: 11px;
}
.left-column-auto-layout2 {
  position: absolute;
  top: 824px;
  left: 165px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  gap: 100px;
}
.rectangle {
  position: absolute;
  top: 0px;
  left: calc(50% - 112.5px);
  background-color: #0699a6;
  width: 225px;
  height: 60px;
}
.contact-me {
  position: absolute;
  top: 18px;
  left: 62px;
  letter-spacing: 2px;
  line-height: 24px;
  text-transform: uppercase;
  display: inline-block;
  width: 101px;
}
.group {
  position: absolute;
  top: 478px;
  left: calc(50% - 80px);
  width: 225px;
  height: 60px;
  text-align: center;
  color: #fff;
}
.use-this-area {
  width: 635px;
  position: relative;
  font-size: 20px;
  line-height: 34px;
  font-family: 'PT Sans Narrow';
  white-space: pre-wrap;
  display: inline-block;
}
.about-me-parent {
  height: 236px;
  overflow: hidden;
  flex-shrink: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  gap: 20px;
}
.about-me {
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 80px;
}
.experience {
  width: 635px;
  position: relative;
  line-height: 46px;
  font-weight: 900;
  display: inline-block;
}
.front-end-developer {
  position: absolute;
  top: 0px;
  left: 0px;
  letter-spacing: 1px;
  line-height: 24px;
  text-transform: uppercase;
  display: inline-block;
  width: 460px;
}
.mar-2020- {
  position: absolute;
  top: 0px;
  left: 340px;
  line-height: 24px;
  color: #000;
  text-align: right;
  display: inline-block;
  width: 295px;
}
.front-end-developer-parent {
  width: 635px;
  position: relative;
  height: 24px;
}
.describe-your-respon {
  width: 635px;
  position: relative;
  font-size: 20px;
  line-height: 34px;
  color: #000;
  white-space: pre-wrap;
  display: inline-block;
}
.group-parent {
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  gap: 10px;
  font-size: 18px;
  color: #9e8c6c;
  font-family: 'PT Sans Narrow';
}
.experience-parent {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  gap: 20px;
}
.master-auto-layout-inner {
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}
.sept-2017- {
  position: absolute;
  top: 0px;
  left: 340px;
  line-height: 24px;
  display: inline-block;
  width: 295px;
}
.visual-designer {
  position: absolute;
  top: 0px;
  left: 0px;
  letter-spacing: 1px;
  line-height: 24px;
  text-transform: uppercase;
  display: inline-block;
  color: #9e8c6c;
  text-align: left;
  width: 350px;
}
.describe-your-respon1 {
  width: 635px;
  position: relative;
  font-size: 20px;
  line-height: 34px;
  white-space: pre-wrap;
  text-align: left;
  display: inline-block;
}
.group-container {
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  gap: 10px;
  text-align: right;
  font-size: 18px;
  font-family: 'PT Sans Narrow';
}
.rectangle-copy {
  width: 71px;
  position: relative;
  background-color: #0699a6;
  height: 10px;
}
.bfa-in-graphic-desig-parent {
  width: 635px;
  position: relative;
  height: 24px;
  font-size: 18px;
  color: #9e8c6c;
  font-family: 'PT Sans Narrow';
}
.education-parent {
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  gap: 20px;
}
.rectangle-copy-parent {
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 70px;
}
.master-auto-layout {
  position: absolute;
  top: 824px;
  left: 653px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  gap: 66px;
  font-size: 36px;
  color: #000;
  font-family: 'Playfair Display';
}
.path-2-icon {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 1440px;
  height: 547px;
  opacity: 0.1;
}
.get-in-touch {
  position: absolute;
  top: 0px;
  left: 126px;
  font-size: 66px;
  letter-spacing: -1.14px;
  line-height: 82px;
  font-weight: 900;
  color: #000;
  display: inline-block;
  width: 540px;
}
.youremailemailcom {
  position: absolute;
  top: 122px;
  left: 0px;
  line-height: 46px;
  font-weight: 900;
  display: inline-block;
  width: 793px;
}
.youremailemailcom1 {
  position: absolute;
  top: 168px;
  left: 0px;
  line-height: 46px;
  font-weight: 900;
  display: inline-block;
  width: 793px;
}
.group-child {
  position: absolute;
  width: 30.64%;
  top: calc(50% + 104.28px);
  right: 34.75%;
  left: 34.61%;
  max-width: 100%;
  overflow: hidden;
  height: 25.1px;
}
.get-in-touch-parent {
  position: absolute;
  top: 177px;
  left: 324px;
  width: 793px;
  height: 258.8px;
}
.footer {
  position: absolute;
  top: 2476px;
  left: 0px;
  width: 1440px;
  height: 547px;
  text-align: center;
  font-size: 36px;
  color: #0699a6;
  font-family: 'Playfair Display';
}
.matt-mcdonald {
  position: absolute;
  top: 214px;
  left: 640px;
  font-size: 126px;
  letter-spacing: -2.17px;
  line-height: 112px;
  font-weight: 900;
  font-family: 'Playfair Display';
  color: #000;
  display: inline-block;
  width: 635px;
}
.rectangle-icon {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0%;
  right: 0%;
  bottom: 0%;
  left: 0%;
  border-radius: 175px;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: cover;
}
.perfil {
  position: absolute;
  top: 180px;
  left: 165px;
  width: 350px;
  height: 350px;
}
.desktop {
  width: 100%;
  position: relative;
  background-color: #fff;
  height: 3023px;
  overflow: hidden;
  text-align: left;
  font-size: 18px;
  color: #9e8c6c;
  font-family: 'PT Sans Narrow';
}

